.button {
    background-color: unset;
    color: unset;
    border: unset;
    border-radius: 8px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 60px;
    padding-right: 60px;
    cursor: pointer;
}

.button-primary {
    background-color: var(--primary-color);
    color: var(--white-color);
    &:hover {
        background-color: var(--primary-light-color);
    }
}

.button-primary-dark {
    background-color: var(--primary-dark-color);
    color: var(--white-color);
    &:hover {
        background-color: var(--primary-light-color);
    }
}

.button-alternative {
    background-color: var(--alternative-color);
    color: var(--white-color);
    &:hover {
        background-color: var(--alternative-light-color);
    }
}

.button-alternative-dark {
    background-color: var(--alternative-dark-color);
    color: var(--white-color);
    &:hover {
        background-color: var(--alternative-light-color);
    }
}

.button-secondary {
    background-color: transparent;
    border: 1px solid #B5B5B5;
    &:hover {
        border: 1px solid var(--black-color);
    }
}

.button-secondary-light {
    background-color: transparent;
    border: 1px solid #B5B5B5 ;
}

.button-secondary-dark {
    background-color: transparent;
    border: 1px solid var(--black-color);
}

.button-disabled {
    opacity: 0.3;
    pointer-events: none;
}